<footer class="footer" >
    <a class="footer__arrow" href="#hero">
      <img src="./assets/images/ico-arrow.svg" alt="">
    </a>
    <section class="footer__container wrapper">
      <ul class="footer__menu" >
        <li><a class="footer__menu__item" href="https://adalab.es">ZAPATILLAS</a></li>
        <li><a class="footer__menu__item" href="https://adalab.es">ROPA</a></li>
        <li><a class="footer__menu__item" href="https://adalab.es">NIÑO/A</a></li>
        <li><a class="footer__menu__item" href="https://adalab.es">DESTACADOS</a></li>
        <li><a class="footer__menu__item" href="https://adalab.es">TIPS</a></li>
      </ul>
      <ul class="footer__menu">
        <li><a class="footer__menu__item" href="https://adalab.es">TWITTER</a></li>
        <li><a class="footer__menu__item" href="https://adalab.es">INSTAGRAM</a></li>
        <li><a class="footer__menu__item" href="https://adalab.es">YOUTUBE</a></li>
      </ul>
      <section class="footer__copy">
        <p>&copy; 2023</p>
        <p>we <span class="footer__heart">&hearts;</span> run</p>
      </section>
    </section>
  </footer>