<section class="container3">
    <section class="wrapper">
      <p class="container3__text">¡Prepáralos con tus marcas favoritas!</p>
      <h2 class="container3__title">VUELTA AL COLE</h2>

      <section id="vuelta_al_cole" class="article-container">
        <article class="container3__article">
          <img class="container3__article__img" src="./assets/images/lpbts-mod05-img01-desk.png" alt="">
          <p class="container3__article__text" >Mochilas escolares</p>
        </article>
        <article class="container3__article">
          <img class="container3__article__img" src="./assets/images/lpbts-mod05-img04-mob.png" alt="">
          <p class="container3__article__text" >Estuches</p>
        </article>
        <article class="container3__article">
          <img class="container3__article__img" src="./assets/images/lpbts-mod05-img03-mob.png" alt="">
          <p class="container3__article__text" >Bolsas de deporte</p>
        </article>
      </section>
      <a class="container3__btn" href="https://puginarug.com/">Empezar ahora</a>
    </section>
  </section>