@import 'core/variables';
@import 'core/reset';

.wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 940px;
}

.header {
    border: $dark-green solid 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &__menu {
        background-color: $dark-green;
    }
}

.container1 {
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-position: 85%;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding:30px;

    &__title {
        font-size: 30px;
        color: $white;
        line-height: 50px;
        font-family: $font-title;
        text-align: center;

        @media all and (min-width: 768px) {
            font-size: 50px;
            line-height: 100px;
        }
        @media all and (min-width: 1280px) {
            font-size: 75px;
        }
    }

    &__title::first-line {
        word-spacing: 100vw;
        }

    &__text {
       font-size: 16px;
       color: $white;
       line-height: 19px;
       font-family: $font-text; 
       text-align: center;

       @media all and (min-width: 768px) {
        font-size: 24px;
        line-height: 28px;
        }
    }

    &__btn {
        background-color: $white;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        padding: 10px;
        
    }   
}

.container2 {
    padding: 34px 15px;
    @media all and (min-width: 768px) {
        vertical-align: center;
    }
    @media all and (min-width: 1280px) {
        
    }

    &__greentext {
        color: $dark-green;
        font-size: 14px;
        font-family: $font-text;
        line-height: 30px;

        @media all and (min-width: 768px) {
            font-size: 16px;
            line-height: 30px;
        }
    }

    &__title {
        color: black;
        font-size: 22px;
        font-family: $font-title;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 20px;

        @media all and (min-width: 768px) {
            font-size: 32px;
            line-height: 45px;
        }
    }

    &__text {
        font-size: 18px;
        font-family: $font-text;
        line-height: 30px;
        color: $greyish-brown;
        text-align: left;
        margin-bottom: 40px;

        @media all and (min-width: 768px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__btn {
        display: inline-block;
        color: $dark-green;
        padding: 12px 40px;
        text-decoration: none;
        border-radius: 50px;
        border: solid 2px $dark-green;
        font-family: $font-text;
        font-size: 20px;
    }
}

.container3 {
    background-color: $light-green;
    padding: 34px 15px;
    text-align: center;

    &__text {
        font-size: 12px;
        font-family: $font-title;
        color: #626262;
        line-height: 30px;

        @media all and (min-width: 768px) {
            font-size: 12px;
            line-height: 30px;
        }
    }

    &__title {
        font-size: 20px;
        font-family: $font-title;
        line-height: 30px;
        padding-bottom: 14px;

        @media all and (min-width: 768px) {
            font-size: 28px;
            line-height: 45px;
        }
    }

    &__btn {
        background-color: $dark-green;
        display: inline-block;
        color: $white;
        padding: 12px 28px;
        text-decoration: none;
        border-radius: 50px;
        border: solid 2px $dark-green;
        font-family: $font-text;
        font-size: 20px;

        @media all and (min-width: 768px) {
            margin-top: 20px;
        }
    }

    &__article {
        
        &--img {
            width: 114px;
            border-radius: 50%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }

        &--text {
            font-size: 14px;
            font-family: $font-title;
            line-height: 30px;

            @media all and (min-width: 768px) {
                font-size: 18px;
                line-height: 30px;
            }
        }
    } 
}

.article-container {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 15px;

    @media all and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-evenly;
    }
}

.footer {
    background-color: $greyish-brown;
    color: $white;
    font-size: 16px;
    font-family: $font-text;
    padding: 0px 15px 30px 15px;
    text-align: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

        @media all and (min-width: 768px) {
            flex-direction: row-reverse;
            align-items: baseline;
            justify-content: space-evenly;
        }
    }

    &__arrow {
        display: inline-block;
        background-color: $white;
        border-radius: 100px;
        width: 45px;
        height: 45px;
        padding: 8px;
        transform: translateY(-50%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &__menu {
        text-decoration: none;
        list-style: none;
        line-height: 30px;

        @media all and (min-width: 768px) {
            width: 150px;
        }
        
        &--item {
            text-decoration: none;
            color: $white;
            font-size: 16px;
            font-family: $font-text;
        }
    }
    &__copy {
        @media all and (min-width: 768px) {
            width: 150px;
        }
    }

    &__heart {
        color: $dark-green;
    }
}